body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
/* hero section ka code idhr */
canvas {
    display: block;
    
}